doctype html
link(rel='stylesheet' href='/static/style.css')
block content
.nav
    ul
        li
        a(href='https://github.com/ricky-aufvaa') .github.
        li
        a(href='https://www.reddit.com/user/Sick__sock') .reddit.
        li
        a(href='#') .recognition.
        li
        a(href='#') .github.
//- script(src='/app.js')

